{% load static %} {% load widget_tweaks %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Learning Website</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}" />
    <link rel="stylesheet" href="/static/assets/src/css/iziToast.css">
    <link rel="stylesheet" href="/static/assets/src/css/iziToast.min.css">
    <script src="/static/assets/src/js/iziToast.js" type="text/javascript"></script>
    <script src="/static/assets/src/js/iziToast.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/assets/src/css/animations.styl">

<link rel="stylesheet" href="/static/assets/src/css/layouts.styl">
<link rel="stylesheet" href="/static/assets/src/css/style.styl">
<link rel="stylesheet" href="/static/assets/src/css/themes.styl">

<link rel="stylesheet" href="/static/assets/src/css/toast.styl">	
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
      <div class="container">
        <a class="navbar-brand" href="#">E-Learning</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/logout/">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <h1 class="text-center mb-4">Welcome to E-Learning</h1>
      <div class="container" style="margin-bottom:15px">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="search-container position-relative">
                    <form class="d-flex align-items-center" method="get" hx-get="{% url 'courses' %}"
                    hx-target="#parent-div"
                    hx-swap="outerHTML">
                
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="search-icon feather feather-search">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                       
                        {% render_field myFilter.form.title class="form-control search-input ps-5" type="search" placeholder="Search anything..." aria-label="Search" %}

                        <button class="btn btn-search ms-2" type="submit"  >Search</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    
      {% include "partial.html" %}

  
      </div>
    </div>

   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
